


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    
}

.products-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    
}

.product-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

.product-details {
    flex-grow: 1;
    margin-left: 15px;

}

.product-price {
    font-weight: bold;
    display: flex;
    
}   

.product-name {

 float: left;
 
}


button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid#ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    float: left;
}

button:hover {
    background-color: #0056b3;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .product-card {
    background-color: #444;
    border-color: #666;
}

.dark-mode button {
    background-color: #555;
}